
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>后台信息管理系统</title>

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />

<link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
<link th:href="@{/css/plugins/footable/footable.core.css}" rel="stylesheet"/>

</head>

<body>

    <div id="wrapper">
		<nav class="navbar-default navbar-static-side" role="navigation" th:include="nav :: navigation"></nav>
		<div id="page-wrapper" class="gray-bg">
        	<div class="border-bottom" th:include="header :: headerTop"></div>
      		<div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
		   		<div class="col-lg-10">
		     		<h2>商品分类</h2>
		          	<ol class="breadcrumb">
			            <li>
			            	<a href="#">首页</a>
			            </li>
			            <li>
			            	<a>商品管理</a>
			         	</li>
			          	<li class="active">
			             	<strong>商品分类</strong>
			          	</li>
					</ol>
		      	</div>
		      	<div class="col-lg-2">
		      	</div>
		  	</div>
        	<div class="wrapper wrapper-content animated fadeInRight">
            	<div class="row">
	            	<div class="col-lg-12">
		            	<div class="ibox float-e-margins">
		                    <div class="ibox-title">
		                        <h5>搜索&amp;操作</h5>
		                        <div class="ibox-tools">
		                            <a class="collapse-link">
		                                <i class="fa fa-chevron-up"></i>
		                            </a>
		                        </div>
		                    </div>
		                    <div class="ibox-content" style="display: block;">
		                    	<form action="itemCategoryManage_0_0_0">
			                        <div class="row">
		                            	<div class="col-sm-3 m-b-xs">
		                            		<input name="name" value="" th:value="${itemCategory.name}" placeholder="分类名称" class="form-control" type="text"/>
		                                </div>
		                                <div class="col-sm-1 m-b-xs">
		                                    <button id="submitButton" class="btn btn-primary btn-block" type="submit"><i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>搜索</strong></button>
		                                </div>
		                            </div>
	                            </form>
	                            <div class="row">
		                            <div class="col-sm-6 m-b-xs">
					                    <a th:href="@{itemCategoryEdit}" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="" data-original-title="Refresh inbox"><i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;&nbsp;新增分类&nbsp;&nbsp;&nbsp;&nbsp;</a>
					                </div>
					                <div class="col-sm-6 m-b-xs"></div>
					            </div>
		                    </div>
	                	</div>
                	</div>
                	<div class="col-lg-12">
	                    <div class="ibox float-e-margins">
	                        <div class="ibox-title">
	                            <h5>分类列表</h5>
	                            <div class="ibox-tools">
	                                <a class="collapse-link">
	                                    <i class="fa fa-chevron-up"></i>
	                                </a>
	                            </div>
	                        </div>
	                        <div class="ibox-content">
		                        
	                            <div class="table-responsive">
	                                <table class=" table table-hover" data-page-size="10">
	                                    <thead>
		                                    <tr>
		                                    	<th width="10%">ID</th>
		                                        <th width="20%">类别名称 </th>

		                                        <th width="30%">添加时间</th>
		                                        <th>操作</th>
		                                    </tr>
	                                    </thead>
	                                    <tbody>
	                                   		<tr th:each="ic : ${list}">
										   		<td th:text="${ic.id}">Onions</td>
										      	<td th:text="${ic.name}">Onions</td>

										      	<td th:text="${ic.updatedStr}">Onions</td>
										      	<td>
										      		<a th:href="@{'itemCategoryEdit?id='+${ic.id}}" title="修改"><i class="fa fa-edit text-navy"></i></a>
										      		&nbsp;&nbsp;&nbsp;&nbsp;
										      		<a href="#" th:onclick="'javascript:updateState('+${ic.id}+',2);'" title="删除"><i class="fa fa-trash-o text-navy"></i></a>
										      	</td>
											</tr>
	                                    </tbody>
	                                    <tfoot>
			                                <tr>
			                                    <td colspan="7">
			                                        <ul id="pageHTML" class="pagination pull-right"></ul>
			                                    </td>
			                                </tr>
		                                </tfoot>
	                                </table>
			                	</div>
	                        </div>
	           			</div>
                	</div>
            	</div>
        	</div>
        	<div class="footer" th:include="footer :: copyright"></div>
      	</div>
	</div>
	
    <!-- Mainly scripts -->
    <script th:src="@{/js/jquery-2.1.1.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
    <script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
	
    <!-- Peity -->
    <script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>
	
    <!-- Custom and plugin javascript -->
    <script th:src="@{/js/inspinia.js}"></script>
    <script th:src="@{/js/plugins/pace/pace.min.js}"></script>
	
    <!-- iCheck -->
    <script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>
	
    <!-- Peity -->
    <script th:src="@{/js/demo/peity-demo.js}"></script>
	
	<!-- FooTable -->
    <script th:src="@{/js/plugins/footable/footable.all.min.js}"></script>
    
    <!-- common -->
    <script th:src="@{/js/common.js}"></script>
    
    <script th:inline="javascript">
    	/*<![CDATA[*/
    	
        var pageHTML = [[${pageHTML}]];
		$(document).ready(function () {
			$("#pageHTML").html(pageHTML);
			
		});
        
		function updateState(id,state){
			if(confirm("确定删除此条信息?")){
		 		$.ajax({
		      		type: "POST",
		           	url: "itemCategoryEditState?id="+id,
		           	contentType: "application/json; charset=utf-8",
		        	success: function(msg){
		        		 window.location.reload();
		       		},
		     		error: function(){
		     			alert("系统异常！");
		       		}
				});
			}
		}
		/*]]>*/
    </script>
</body>

</html>
