<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>后台信息管理系统</title>

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />

<!-- Toastr style -->
<link th:href="@{/css/plugins/toastr/toastr.min.css}" rel="stylesheet"/>

<link th:href="@{/css/style.css}" rel="stylesheet" />


</head>

<body>

    <div id="wrapper">
		<nav class="navbar-default navbar-static-side" role="navigation" th:include="nav :: navigation"></nav>
		<div id="page-wrapper" class="gray-bg">
        	<div class="border-bottom" th:include="header :: headerTop"></div>
      		<div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
                <div class="col-lg-10">
                    <h2>系统管理</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="#">首页</a>
                        </li>
                        <li>
                            <a>系统管理</a>
                        </li>
                        <li class="active">
                            <strong>新增物流公司</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">
                </div>
            </div>
        	<div class="wrapper wrapper-content animated fadeInRight">
            
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>新增物流公司</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <form id="formTag" action="deliveryEdit" method="POST" class="form-horizontal" enctype="multipart/form-data">
                            	
                                <div class="form-group"><label class="col-sm-2 control-label">物流公司名称：</label>
                                    <div class="col-sm-10">
                                    	<input id="deliveryName" name="deliveryName" type="text" class="form-control" th:value="${delivery.deliveryName}"/>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">物流公司编码：</label>
                                    <div class="col-sm-10">
                                        <input id="deliveryCode" name="deliveryCode" type="text" class="form-control" th:value="${delivery.deliveryCode}"/>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">物流公司首字母：</label>
                                    <div class="col-sm-10">
                                        <input id="deliverySort" name="deliverySort" type="text" class="form-control" th:value="${delivery.deliverySort}"/>
                                    </div>
                                </div>
                                
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <button id="submitButton" class="btn btn-primary" type="button">&nbsp;&nbsp;&nbsp;&nbsp;提&nbsp;&nbsp;&nbsp;&nbsp;交&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            </div>
        	<div class="footer" th:include="footer :: copyright"></div>
      	</div>
	</div>
	
    <!-- Mainly scripts -->
    <script th:src="@{/js/jquery-2.1.1.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
    <script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
	
    <!-- Peity -->
    <script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>
	
    <!-- Custom and plugin javascript -->
    <script th:src="@{/js/inspinia.js}"></script>
    <script th:src="@{/js/plugins/pace/pace.min.js}"></script>
    
    <!-- Toastr script -->
    <script th:src="@{/js/plugins/toastr/toastr.min.js}"></script>
    
    <!-- common -->
    <script th:src="@{/js/common.js}"></script>
    
    
    <script th:inline="javascript">
		        

		
    </script>
    
    <script>
		$(document).ready(function () {
			$("#submitButton").click(function(){
				if($("#deliveryName").val() == ""){
					toastr.error('请输入物流公司名称','提示')
					return;
				}
                if($("#deliveryCode").val() == ""){
                    toastr.error('请输入物流公司编码','提示')
                    return;
                }
                if($("#deliverySort").val() == ""){
                    toastr.error('请输入物流公司首字母','提示')
                    return;
                }

				$("#formTag").submit();
			});
		});
        
    </script>

</body>

</html>
